.calcarea {
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	overflow: hidden; 
	font-family: Arial;
	max-width: 800px;
	margin: 20px auto;
}
	/*calcarea-header*/
	.calcarea > .calcarea-header{
		background: #a5bb29;
		color: #ffff;
		padding: 0.5rem;
	}
	.calcarea > .calcarea-header.danger {
		background: #ffc107;
	}
	/*calcarea-form*/
	.calcarea > .calcarea-form{
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
	}
		.calcarea > .calcarea-form > *{
			flex: 1;
			padding: 0.5rem;
			border-right: 1px solid rgba(0,0,0,0.1);
			border-bottom: 1px solid rgba(0,0,0,0.1);
		}
		.calcarea > .calcarea-form > *.breakline{
			padding: 0;
			min-width: 100%;
			border: 0;
		}
		.calcarea > .calcarea-form > * > label {
			display: block;
			font-weight: bold;
			margin: 0 0 0.5rem 0;
			font-size: 1em;
		}
		.calcarea > .calcarea-form > * > input,
		.calcarea > .calcarea-form > * > button,
		.calcarea > .calcarea-form > * > div.input{
			display: block;
			width: 100%;
			box-sizing: border-box;
			padding: 0.5em;
			margin: 0 !important;
			min-height: 2.3rem;
			border-radius: 4px;
			font-size: 1rem;
			line-height: 1.2rem;
		}
		.calcarea > .calcarea-form > * > input{
			border: 1px solid rgba(0,0,0,0.2);
		}
		.calcarea > .calcarea-form > * > input.input-error{
			border: 1px solid red !important;
		}
		.calcarea > .calcarea-form > * > small{
			font-size: 0.75em;
			line-height: 1.2em;
			color: rgba(0,0,0,0.6);
		}
		.calcarea > .calcarea-form > * > button {
			cursor: pointer;
			background: #a5bb29;
			color: #ffff;
			border: 0;
		}
	/*calcarea-list*/
	.calcarea > ul.calcarea-list{
		list-style: none;
		padding: 0;
		margin: 0; 	
	}
		.calcarea > ul.calcarea-list > li{
			padding: 0.8em;
			border-top: 1px solid rgba(0,0,0,0.2);
		}
		.calcarea > ul.calcarea-list > li a.remove{
			display: block;
			float: right;
			background: rgba(0,0,0,0.4);
			padding: 0;
			text-decoration: none;
			height: 20px;
			width: 20px;
			text-align: center;
			font-size: 1rem;
			line-height: 1.1rem;
			border-radius: 4px;
			color: #ffffff; 
		}
		.calcarea > ul.calcarea-list > li a.remove:hover{
			background: rgba(0,0,0,0.8);
		}
	.calcarea > .image{
		padding: 0.5em; 
	}
		.calcarea > .image img{
			width: 100%;
		}